.popup{
    position:fixed;
    top:0;
    left:500px;
    height:150px;
    background-color: rgba(0,0,0,0.2);
    display:flex;
    justify-content: center;
    align-content: center;
}

.popup-inner{
    position:relative;
    padding:32px;
    
    
}

.popup-inner .close-btn{
    position:absolute;
    top:85px;
    right:106px;
}